
@import "../../styles/_breakpoints"
$primary: #1c1c1c
$secondary: #282828
$tertiary: #333333
$highlight: #ffcc00
$primary-color: #2196f3
$secondary-color: #333
$font-family: 'Open Sans', sans-serif

.gameContainer
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px
  padding: 100px
  background-image: linear-gradient(to right, #242428 , #1C1C1E)
  @include breakpoint(lg)
    padding: 50px
  @include breakpoint(md)
    padding: 20px
  @include breakpoint(md-sm)
    padding: 0px
    box-shadow: none

.gameTitle
  background: #121212
  width: 100%
  height: 40px
  font-size: 22px
  color: #fff
  display: flex
  align-items: center
  justify-content: center

  @include breakpoint(lg)
    font-size: 16px
    height: 30px

.scoreLine
  position: relative
  width: 100%

  .negativeBar
    position: absolute
    width: 50%
    height: 20px !important
    rotate: 180deg
    left: 0%
    top: 0px

  .positiveBar
    position: absolute
    width: 50%
    height: 20px !important
    left: 50%
    top: 0px

  .goalsPositive
    position: absolute
    height: 20px
    width: 50%
    top: 0px
    left: 50%

  .goalsNegative
    position: absolute
    height: 20px
    width: 50%
    top: 0px
    left: 0%
    rotate: 180deg

  .goal
    position: absolute
    height: 100%
    top: 0px

    .negativeInner
      width: fit-content
      rotate: 180deg
      margin-right: 2px
    .positiveInner
      margin-right: 2px

  .goalEasy
    border-right: 2px solid #006800
    direction: rtl
    color: #006800
  .goalMedium
    border-right: 2px solid #ffff33
    direction: rtl
    color: #ffff33
  .goalHard
    border-right: 2px solid #ff5613
    direction: rtl
    color: #ff5613

.playArea
  display: flex
  flex-direction: row
  align-items: center

  @include breakpoint(md-sm)
    flex-direction: column
    justify-content: center

  .gameGrid
    padding: 5px
    display: grid
    grid-template-columns: repeat(16, 1fr)
    grid-template-rows: repeat(16, 1fr)
    grid-gap: 5px
    margin: 40px 100px 0px 0px
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px
    @include breakpoint(lg)
      margin: 40px 50px 0px 0px
    @include breakpoint(md-sm)
      margin: 0px
      margin-top: 50px

      grid-gap: 4px

    @include breakpoint(sm)
      padding: 1px
      grid-gap: 2px

    .gameGridButtons
      width: 30px
      height: 30px
      background-color: #fff
      border: 1px solid black
      box-sizing: border-box
      color: #fff
      cursor: pointer
      display: inline-flex
      flex: 1 1 auto
      font-family: Inter,sans-serif
      justify-content: center
      margin: 0
      outline: none
      text-align: center
      align-items: center
      text-decoration: none
      transition: box-shadow .2s,-webkit-box-shadow .2s
      white-space: nowrap
      user-select: none
      -webkit-user-select: none
      touch-action: manipulation
      @include breakpoint(lg)
        width: 20px
        height: 20px
        font-size: 8px
      @include breakpoint(md)
        width: 15px
        height: 15px
        font-size: 8px
      @include breakpoint(md-sm)

      &:hover
        scale: 1.2

    .gameGridItemActive
      background-color: #228B22

    .gameGridItemNegative
      background-color: #8B0000

    .gameGridItemZero
      background-color: #8080806b

  .gameStats

    .cancelLeft
      max-width: 180px
      font-family: $font-family
      font-size: 26px
      font-weight: bold
      text-align: center
      color: $primary-color
      border: 2px solid $primary-color
      border-radius: 10px
      padding: 10px
      box-shadow: 2px 2px 5px $secondary-color
      @include breakpoint(lg)
        max-width: 90px
        font-size: 13px
        border: 1px solid $primary-color
        border-radius: 5px
        padding: 5px
        box-shadow: 1px 1px 2.5px $secondary-color

    .positiveCounter
      max-width: 180px
      font-family: $font-family
      font-size: 24px
      font-weight: bold
      text-align: center
      color: #228B22
      border: 2px solid #228B22
      border-radius: 10px
      padding: 10px
      box-shadow: 2px 2px 5px $secondary-color
      @include breakpoint(lg)
        max-width: 90px
        font-size: 13px
        border: 1px solid #228B22
        border-radius: 5px
        padding: 5px
        box-shadow: 1px 1px 2.5px $secondary-color

    .negativeCounter
      max-width: 180px
      font-family: $font-family
      font-size: 22px
      font-weight: bold
      text-align: center
      color: #1C1C1E
      border: 2px solid #8B0000
      border-radius: 10px
      padding: 10px
      box-shadow: 2px 2px 5px $secondary-color
      background-image: linear-gradient(to right, #ff5252 , #c41c1c)

      @include breakpoint(lg)
        max-width: 90px
        font-size: 13px
        border: 1px solid #8B0000
        border-radius: 5px
        padding: 5px
        box-shadow: 1px 1px 2.5px $secondary-color

    .resetButton
      background-image: linear-gradient(to right, #6441A5 , #FFFFFF)

      border-radius: 4px
      border-style: none
      box-sizing: border-box
      color: #000
      cursor: pointer
      display: inline-block
      font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif
      font-size: 16px
      font-weight: 700
      line-height: 1.5
      max-width: none
      outline: none
      overflow: hidden
      padding: 9px 20px 8px
      position: relative
      text-align: center
      text-transform: none
      user-select: none
      -webkit-user-select: none
      touch-action: manipulation
      width: 100%
      &:hover
        opacity: .75
      @include breakpoint(lg)
        font-size: 10px
        padding: 5px 10px 4px

.animated
  animation: pulse .5s ease-in-out
@keyframes pulse
  0%
    transform: scale(1)

  50%
    transform: scale(1.05)

  100%
    transform: scale(1)
