// module.sass

$primary-color: #1c1c1c

.container
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  min-height: 100vh
  background-color: $primary-color

.header
  top: 0
  width: 100%
  padding: 0px 20px
  box-sizing: border-box
  z-index: 1
  animation: header-fade-in 0.5s ease-out
  display: flex
  justify-content: space-between

@keyframes header-fade-in
  from
    opacity: 0
  to
    opacity: 1

.logo
  display: flex
  align-items: center

  .logoImg
    width: 80px
    height: 80px
    border-radius: 50%

.nav
  display: flex
  align-items: center

  &Link
    color: white
    text-decoration: none
    margin-left: 20px
    font-size: 1.2em
    transition: color 0.3s ease
    &:hover
      color: darken($primary-color, 20%)
      animation: link-underline 0.5s ease

@keyframes link-underline
  from
    border-bottom: none
    padding-bottom: 0

  to
    border-bottom: 2px solid white
    padding-bottom: 2px

.body
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap

.section
  width: 100%
  padding: 20px
  box-sizing: border-box
  text-align: center
  background-color: white
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
  animation: slide-in 1s ease-out
  position: relative
  &:nth-child(odd)
    background-color: lighten($primary-color, 20%)

@keyframes slide-in
  from
    transform: translateX(-100%)
  to
    transform: translateX(0)

.footer
  bottom: 0
  width: 100%
  padding: 0
  margin: 0
  box-sizing: border-box
  text-align: center
  background-color: darken($primary-color, 10%)
  color: white
  font-size: 0.8em
  animation: footer-fade-in 0.5s ease-out

@keyframes footer-fade-in
  from
    opacity: 0
  to
    opacity: 1
